body{
  padding: 0;
  margin: 0;
  #dummy{
    font-family: "Exo 2";
    width: 1000px;
    height: 0;
    overflow: hidden;
    text-align: center;
    &-creator{
      font-size: 14px;
      span{
        &:nth-child(2){
          font-weight: 600;
        }
      }
    }
    &-artist{
      font-size: 20px;
      span{
        font-weight: 600;
        font-style: italic;
      }
    }
    &-song{
      font-size: 30px;
      span{
        font-weight: 600;
        font-style: italic;
      }
    }
  }
}